@model IEnumerable<TaskModel>

@{
    ViewData["Title"] = "Incomplete";
}

<p class="task-header">My Task</p>
<div class="row task-row">
    <div class="col-sm">
        <div class="row task-item-row">
            <div class="col-sm-1">
                <div class="circle-color blue"></div>
            </div>
            <div class="col-sm-3">
                <a style="color: #2F2E41;" asp-controller="Home" asp-action="Incomplete"><p class="state-link">Incomplete</p></a>
            </div>
            <div class="col-sm">
                <div class="num-circle blue"><span class="num-text">@Model.Where(x => x.State == "Incomplete").ToList().Count</span></div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="row task-item-row">
            <div class="col-sm-1">
                <div class="circle-color yellow"></div>
            </div>
            <div class="col-sm-3">
                <a style="color: #2F2E41;" asp-controller="Home" asp-action="InProgress"><p class="state-link">In progress</p></a>
            </div>
            <div class="col-sm">
                <div class="num-circle yellow"><span class="num-text">@Model.Where(x => x.State == "In progress").ToList().Count</span></div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="row task-item-row">
            <div class="col-sm-1">
                <div class="circle-color green"></div>
            </div>
            <div class="col-sm-3">
                <a style="color: #2F2E41;" asp-controller="Home" asp-action="Complete"><p class="state-link">Complete</p></a>
            </div>
            <div class="col-sm">
                <div class="num-circle green"><span class="num-text">@Model.Where(x => x.State == "Complete").ToList().Count</span></div>
            </div>
        </div>
    </div>
</div>
<div class="row list-item">
    @foreach (var item in Model)
    {
        <div class="col-sm-4 col-item">
            <div class="card">
                <img src="~/temp/@item.Img" class="card-img-top" style="max-height: 250px;">
                <div class="card-body">
                    <h5 class="title">@item.TaskName</h5>
                    <p class="room">Room: @item.Room <br /> @item.Date</p>
                    <p class="state">@item.State</p>
                </div>
                <div class="row" style="margin-left: 2px; margin-bottom: 20px;">
                    <div class="col-sm-6">
                        <a asp-controller="Tasks" asp-action="Delete" asp-route-id="@item.Id">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a asp-controller="Tasks" asp-action="Edit" asp-route-id="@item.Id">
                            <button type="button" class="btn btn-success">Edit</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<a asp-controller="Tasks" asp-action="Create">
    <div class="float-btn">
        <p class="create-text">+</p>
    </div>
</a>